ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:#C2F56F;
	font-family:technical;
}

li {
    display: block;
    width: 60px;
    display: inline;
}
#pr {
	float: right;
	height: 411px;
	width: 266px;
}
#ht {
	height: 411px;
	width: 266px;
}
#el {
	float: right;
	height: 411px;
	width: 266px;
}
#summon {
	height: 411px;
	width: 266px;
}
#header {
	font-size: 150px;
}