ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:#C2F56F;
	font-family:technical;
}

li {
    display: block;
    width: 60px;
    display: inline;
}

}
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
  #pr {
	float: right;
	height: 411px;
	width: 266px;
}
#ht {
	float: left;
	height: 411px;
	width: 266px;
}
#el {
	float: right;
	height: 411px;
	width: 266px;
}
#summon {
	height: 411px;
	width: 266px;
}
#header {
	font-size: 150px;
  
}
background-color {
	color:blue;
}
h1 {
	font-size:150px;
}