<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link href="styles/positeen.css" rel="stylesheet">
    <link href="styles/style.css"  rel="stylesheet">
    
    <script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/UnityProgress.js" type="text/javascript"></script>

    <title>Positeenvity</title>
  </head>
  <body class="template">
    <ul>
      <div id="div" class="row">
        <div class = "col-md-8">
          <li id="game1"><a href="/game">Game</a></li>
        </div>
        <div class = "col-md-8">
          <li id="dailypositivity">Daily Positivity</li>
        </div>
        <div class = "col-md-8">
          <li id="nbabout">About</li>
        </div>
        <div class = "col-md-8">
          <li id="helpfullinks">Helpful Links</li>
        </div>
      </div>
    </ul>
    <center>
      <h1 id="header">Welcome to Positeenvity!</h1>
    </center>
    <div id="div" class="row">
      <div id="div2" class = col-md-4>
        <img src="images/petandellie.jpg">
      </div>
      <div id="div3" class= col-md-4>
        <img src="images/fieldgirl.jpg">
      </div>
      <div id="div4" class= col-md-4>
        <img src="images/petandrachel.jpg">
      </div>
    </div> 
    <center>
      <h1 id="about">About</h1>
    </center>
    <div id="div" class="row">
      <div id="col1" class = "col-md-3"></div>
      <div id="usdiv" class = "col-md-6">
        <img id="us" src = "images/uss.jpg">
      </div>
    </div>
    <center>
      <h3 id="bio">Our names our (left to right) Selah, Marlene, and Brooke. We made this during the 2016 Girls Who Code AT&T summer immersion program. This was our final project. The purpose of our website is to create an environment in which people can build upon their self confidence.</h3>
    </center>
    <center>
      <!-- <h1 id="game">Game</h1> -->

<!-- ******************************************************************************************** -->

<!--       <p class="header"><span>Unity WebGL Player | </span>positeenvityGame</p>
      <div class="template-wrap clear">
        <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="600px" width="960px"></canvas>
        <br>
        <div class="logo"></div>
        <div class="fullscreen"><img src="images/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>
        <div class="title">positeenvityGame</div>
      </div>
      <p class="footer">&laquo; created with 
        <a href="http://unity3d.com/" title="Go to unity3d.com">Unity</a> 
      &raquo;</p>
      <script type='text/javascript'>
        var Module = {
          TOTAL_MEMORY: 268435456,
          errorhandler: null,     // arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
          compatibilitycheck: null,
          dataUrl: "Positesttwo.data",
          codeUrl: "Positesttwo.js",
          memUrl: "Positesttwo.mem",
        };
      </script>
      <script src="js/UnityLoader.js"></script> -->

<!-- ******************************************************************************************** -->


    <center>
      <h1 id="daily">Daily Positivity</h1>
    </center>
    <h2 id="bio2">
      Type something positive about yourself. It can be a nice thing you did for someone else today, an achievement (big or small), or even something that you like about yourself. Check back to remember how awesome you are!
    </h2>
    <form method="post" action="">
        <input type="text" name="text1" placeholder="Something Positive"><br>
        <input type="text" name="date1" placeholder="Today's Date"><br>
        <input type="submit" value="Submit">
    </form>
    <ul>
      <% entriesWebpage.forEach(function(entry) { %>
        <p><li><%= entry.text %> </li> -
        <li> <%= entry.date %></li></p>
      <% }); %>
    </ul>
    <div id="superlinks">
      <center>
        <h1 id="helpful">Helpful Links</h1>
      </center>
      <center>
        <h2>
          <a href="http://these-dandelion-wishes.tumblr.com/post/86103978811/anxiety-panic-masterpost">Anxiety and Panic Masterpost</a>
        </h2>  
        </center>
        <h2>
          <a href="http://tourmalinetardis.tumblr.com/post/76162159323/hello-sweetie-everyone-has-those-really-rotten">Bad Day Remedies</a>
        </h2>
      </center>
      <center>
        <h2>
          <a href="http://www.cse.unsw.edu.au/~geoffo/humour/flattery.html">Compliments for You!</a>
        </h2>
      </center>
      <center>
        <h2>
          <a href="http://www.apl.tv/puppies.htm">Live Puppy Cam</a>
        </h2>
      </center>
      <center>
        <h2>
          <a href="https://www.calm.com/">Calm Down</a>
        </h2>
      </center>
      <center>
        <h2>
          <a href="http://1000awesomethings.com/?cnn=yes">1000 Awesome Things</a>
        </h2>
      </center>
    </div>
    <center>
      <h4 id="top">Scroll to top</h4>
    </center>
    <script src="js/javascript.js"></script>
  </body>
</html>