body {
	background-color:white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	background-color:#98FB98;
	font-size:25px;
}

li {
    display: block;
    width: 60px;
    display: inline;
    font-family:"Courier New", Courier, monospace;

}
#us {
	max-width:100%;
	height: auto;
}

#pr {
	float: right;
	height: 411px;
	width: 266px;
}

#ht {
	float: left;
	height: 411px;
	width: 266px;
}

#el {
	float: right;
	height: 411px;
	width: 266px;
}

#summon {
	height: 411px;
	width: 266px;
}

#header {
	font-size: 16px; 
	font-size: 4vw;  
	text-shadow: -2px 1px 16px #000000;
	background-image: url("http://a.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/04/3029864-poster-p-shutterstock167501147.jpg")
}

h1 {
	font-size:150px;
}

/*#div1 {
	background-color:#98FB98;
}

#div2 {
	background-color:#98FB98;
}

#div3{
	background-color:#98FB98;
}

#div4{
	background-color:#98FB98;
}*/

img {
    width: 100%;
    height:800px;
    padding:1px;
   border:4px solid #98FB98;
   
   
}

#header {
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 16px #000000;
}
#game {
	color:white;
	font-family:"Courier New", Courier, monospace;
	background-color:#98FB98;
	text-shadow: -2px 1px 16px #000000;
}
#daily{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	font-size:140px;
	text-shadow: -2px 1px 16px #000000;
}
#helpful{
	color:white;
	font-family:"Courier New", Courier, monospace;
	background-color:#98FB98;
	text-shadow: -2px 1px 16px #000000;
}
#top{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	


}
#about{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 16px #000000;
}
#us{
	background-color:#98FB98;

}
#bio{
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 7px #000000;
	border:5px solid #98FB98;
}
#usdiv{
	
}
#bio2{
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 7px #000000;
	border:5px solid #98FB98;
}
#superlinks{
	border:5px solid #98FB98;
}