body {
	background-color:white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	background-color:#98FB98;
	font-size:25px;
	font-size: 2vw; 
}

li {
    display: block;
    width: 60px;
    display: inline;
    font-family:"Courier New", Courier, monospace;
    font-size:20px;

}
#us {
	max-width:100%;
	height: auto;
}

#pr {
	float: right;
	height: 411px;
	width: 266px;
}
footer{
	background-color:#98FB98;
}
h6{
	color:white;
}
#ht {
	float: left;
	height: 411px;
	width: 266px;
}

#el {
	float: right;
	height: 411px;
	width: 266px;
}

#summon {
	height: 411px;
	width: 266px;
}

#header {
	
	font-size: 10vw;  
	text-shadow: -2px 1px 16px #000000;
	background-image: url("http://a.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/04/3029864-poster-p-shutterstock167501147.jpg")
}

h1 {
	font-size:150px;
	font-size: 10vw; 
}

/*#div1 {
	background-color:#98FB98;
}

#div2 {
	background-color:#98FB98;
}

#div3{
	background-color:#98FB98;
}

#div4{
	background-color:#98FB98;
}*/

img {
    width: 100%;
    height:800px;
    padding:1px;
   border:4px solid #98FB98;
   
   
}

#header {
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 16px #000000;

}
#game {
	color:white;
	font-family:"Courier New", Courier, monospace;
	background-color:#98FB98;
	text-shadow: -2px 1px 16px #000000;
	font-size: 10vw;
	background-image: url("http://66.media.tumblr.com/d1fd19c8d9f1942867d671d6f4692066/tumblr_mu2d0jCk3v1s3130go1_1280.png")

}
#daily{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	font-size: 10vw;
	text-shadow: -2px 1px 16px #000000;
	background-image: url("http://science-all.com/images/wallpapers/tumblr-wallpaper/tumblr-wallpaper-18.jpg")
}
#helpful{
	color:white;
	font-family:"Courier New", Courier, monospace;
	background-color:#98FB98;
	text-shadow: -2px 1px 16px #000000;
	font-size: 10vw;
	background-image: url("http://static.tumblr.com/ahsrvzv/sVXmk75xx/angular-theme-bg.jpg")
}
#top{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	


}
#about{
	color:#98FB98;
	font-family:"Courier New", Courier, monospace;
	text-shadow: -2px 1px 16px #000000;
	background-image: url("https://41.media.tumblr.com/19498d458f29a90cc298d013e6408149/tumblr_mgyglycDBO1qjlso0o1_500.jpg");
}
#us{
	background-color:#98FB98;

}
#bio{
	font-family:"Courier New", Courier, monospace;
	border:5px solid #98FB98;

	

}
#usdiv{
	
}
#bio2{
	font-family:"Courier New", Courier, monospace;
	border:5px solid #98FB98;

}

#superlinks{
	

}
#input{
	border:5px solid #98FB98;
	font-size: 2vw;

}
#about5{
	font-size: 2vw;
	font-family:"Courier New", Courier, monospace;

}
#game5{
	font-size: 2vw;
	font-family:"Courier New", Courier, monospace;
}
#positivelinks5{
	font-size: 2vw;
	font-family:"Courier New", Courier, monospace;
}
#dailypositivity{
	font-size: 2vw;
	font-family:"Courier New", Courier, monospace;
}
li{
	color:white;
}